#container {
  text-align: center;
}

#widthMessage {
  font-family: 'Arial';
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

@media all and (min-width: 1024px) {
  #container {
    display: block;
  }

  #widthMessage {
    display: none;
  }
}

@media all and (max-width: 1023px) {
  #container {
    display: none;
  }

  #widthMessage {
    display: block;
  }
}